.card-size{
    margin-right: 1000px;
    margin-bottom: 200px;
}
.card-example{
    background-color: rgb(156, 197, 235);
}
.card-name{
    padding-top: 20px;
    font-size: 20px;
}
.card-image {
    margin-left: 50px;
    max-width: 100px;
    margin-bottom: 20px;
  }
//   .card-header{
//     background-color: rgb(183, 211, 238);
//   }
//   .card-name{
//       margin-right: 20px;
//   }
//   .card-action{
//     max-width: 300px;
//     margin-bottom: 50px;
//     background-color: rgb(137, 185, 230);
//   }