<!-- <div class="container">
    <h1 class="name">Courses</h1>
    <div class="border">
        <div class="cards">
            <div class="card" *ngFor="let subCourse of finalSubcourseList">
                <mat-card class="mat-card" (click)="onClick(subCourse.id)">
                    <mat-card-header>
                        <mat-card-title class="card-name">{{subCourse.course.name}} :</mat-card-title>{{subCourse.name}}
                    </mat-card-header>
                    <mat-card-content>
                        <img class="card-image" [src]="subCourse.image">
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->

<div class="card-container">
  <h1 class="name">Courses</h1>
  <div class="card-border">
    <div class="cards">
      <div class="card" *ngFor="let subCourse of finalSubcourseList">
        <div class="card__image-holder">
          <img class="card__image" [src]="subCourse.image" alt="underwater" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2 style="color: #0669ad;">
            {{subCourse.course.name |  uppercase}}
            <small>: {{subCourse.name}}</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <!-- <div class="card-description">
                    This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
                  </div> -->
          <div class="card-flap flap2">
            <div class="card-actions">
              <a (click)="onClick(subCourse.id)" class="btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>