.about-us{
    margin-top: 30px;
    background-color:rgb(231, 230, 230);
    height: 70px;
    text-align: start;
    padding-top: 20px;
}
.about-us .header{
    padding-left: 110px;
    font-size: 30px;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container .content{
    display: flex;
}
.container .content .text{
    padding-right: 20px;
}
