<div class="about-us">
   <h1 class="header">About Us</h1>
</div>

<div class="container">

   <div class="content">
      <div class="text">
         <div>
            <h1>Welcome to Vision IT Global</h1>
         </div>
         <p>
            Vision IT Global is a leading software training institute providing Software Training, Project Guidance, IT
            Consulting and Technology Workshops.</p>
         <p>Using our enhanced global software training delivery methodology, innovative software training approach and
            industry expertise, we provide high-value corporate training services that enable our clients to enhance
            business performance, accelerate time-to-market, increase productivity and improve customer service.</p>

         <p>
            We serve Global 100 companies and the leading software vendors in Banking & Financial Services, Insurance,
            Telecommunications, Technology and Media, Information & Education industries. We design and mentor human
            resources for our clients who create competitive advantage.
         </p>
      </div>
      <div>
         <ngb-carousel *ngIf="imageObject" [showNavigationArrows]="showNavigationArrows"
            [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of imageObject">
               <img style="width:500px;height: 320px;" [src]="image.img" alt="Random slide" />
            </ng-template>
         </ngb-carousel>
      </div>
   </div>
</div>



<!-- <div class="about-us">
   <h1 class="header">About Us</h1>
</div>

<div class="container">
   <div class="content">
      <div class="image">
         <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="5"
            [imageSize]="{width: '100%', height: 500}" slideImage="1"></ng-image-slider>
      </div>
      <div class="text">
         <div>
            <h1>Welcome to Vision IT Global</h1>
         </div>
         <p>
            Vision IT Global is a leading software training institute providing Software Training, Project Guidance, IT
            Consulting and Technology Workshops.</p>
         <p>Using our enhanced global software training delivery methodology, innovative software training approach and
            industry expertise, we provide high-value corporate training services that enable our clients to enhance
            business performance, accelerate time-to-market, increase productivity and improve customer service.</p>

         <p>
            We serve Global 100 companies and the leading software vendors in Banking & Financial Services, Insurance,
            Telecommunications, Technology and Media, Information & Education industries. We design and mentor human
            resources for our clients who create competitive advantage.
         </p>
      </div>
   </div>
</div>
<div class="images">
   <ngb-carousel *ngIf="imageObject" [showNavigationArrows]="showNavigationArrows"
      [showNavigationIndicators]="showNavigationIndicators">
      <ng-template ngbSlide *ngFor="let image of imageObject">
         <img style="height:300px" [src]="image.img" alt="Random slide" />
      </ng-template>
   </ngb-carousel>
</div> -->