<div class="header-container">
    <div class="vitg-logo-container">
        <img class="vitg-logo" routerLink="" routerLinkActive="active" src="../../assets/vitg-logo.png">
        <div class="logo">
            <h1 class="vision" routerLink="" routerLinkActive="active" style="color: #fff;">Vision </h1>
            <h1 class="it" routerLink="" routerLinkActive="active">IT</h1>
            <h1 class="global" routerLink="" routerLinkActive="active" style="color: #fff;">Global</h1>
        </div>
    </div>

    <div class="menu-buttons">
        <div class="buttons">
            <app-menu trigger="All Courses" [data]="courses" [isRootNode]="true"></app-menu>
            <button class="header-buttons" (click)="batchView()">Batch List</button>
        </div>

        <div class="menu-list">
            <ul [ngClass]="main ? 'show' : 'hide'">
                <a routerLink="aboutus" routerLinkActive="active" >ABOUT US</a>
                <a mat-button [matMenuTriggerFor]="services" >SERVICES</a>
                <mat-menu #services="matMenu">
                    <a mat-menu-item routerLink="training" routerLinkActive="active" >Training</a>
                    <a mat-menu-item routerLink="outSourcing" routerLinkActive="active" >Out
                        Sourcing</a>
                    <a mat-menu-item routerLink="internship" routerLinkActive="active" >Internship</a>
                    <a mat-menu-item routerLink="projectDevelopment" routerLinkActive="active"
                        >Projectdevelopment</a>
                </mat-menu>
                <a routerLink="portfolio" routerLinkActive="active" >PORTFOLIO</a>
                <a routerLink="team" routerLinkActive="active" >TEAM</a>
                <a routerLink="contact" routerLinkActive="active">CONTACT US</a>
                <a routerLink="register" routerLinkActive="active" >LOGIN/REGISTER</a>
            </ul>
            <ul [ngClass]="material ? 'show' : 'hide'">
                <button mat-icon-button [matMenuTriggerFor]="profile">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #profile="matMenu" class="myMenu" yPosition="above" xPosition="before" class="notification-menu">
                    <button mat-menu-item class="notification-menu__button" (click)="onProfile()">
                        <mat-icon class="notification-menu__icon_yellow">person</mat-icon>profile
                    </button>
                    <button mat-menu-item class="notification-menu__button" (click)="onLoggedout()">
                        <mat-icon class="notification-menu__icon_yellow">logout</mat-icon>Logout
                    </button>
                </mat-menu>
            </ul>
        </div>
    </div>
    <div>
        <button mat-button [matMenuTriggerFor]="menu" class="burger-menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="batchList">Batches</button>
            <button mat-menu-item routerLink="services">Services</button>
            <!-- <button mat-menu-item [matMenuTriggerFor]="courses">All Courses</button> -->
            <button mat-menu-item routerLink="portfolio">Portfolio</button>
            <button mat-menu-item routerLink="team">Team</button>
            <button mat-menu-item routerLink="contact">Contact</button>
            <button mat-menu-item routerLink="register">Register</button>
            <button mat-menu-item routerLink="aboutus">About Us</button>
        </mat-menu>
    </div>
    
</div>

