<div class="team-container">
    <div class="team">
        <h1 class="header">Our Team</h1>
    </div>
    <div class="content-1">
        <div class="team-card">
            <img src="../../../../assets/team/team1.jpg" alt="">
            <h2 class="header">Our Team</h2>
        </div>
        <div class="team-card">
            <img src="../../../../assets/team/team3.png" alt="">
            <h2 class="header">Naga Venkata, FOUNDER & CEO</h2>
        </div>
    </div>
    <div class="content-2">
        <div class="team-card">
            <img src="../../../../assets/team/team5.png" alt="">
            <h2 class="header">Operational Manager</h2>
        </div>
        <div class="team-card">
            <img src="../../../../assets/team/team6.png" alt="">
            <h2 class="header">Team Lead</h2>
        </div>
        <div class="team-card">
            <img src="../../../../assets/team/team4.png" alt="">
            <h2 class="header">Developer</h2>
        </div>
        <div class="team-card">
            <img src="../../../../assets/team/team7.png" alt="">
            <h2 class="header">UX/UI Designer</h2>
        </div>
    </div>
</div>