<h1>Batch Info</h1>
<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/batches" class="btn back">Back</a>
</div>
<div class="container">
  <div class="card"> 
    <table>
      <th>
      <tr>
      <td><h3>batchName</h3></td>
      <td> : </td>
      <td><h3> {{batchdata.batchName}}</h3></td>
    </tr>
    
    <!-- <tr>
        <td><h3>Trainer</h3></td>
        <td> : </td>
        <td><h3> {{batchdata.trainer}}</h3></td>
      </tr> -->
      <tr>
        <td><h3>StartDate</h3></td>
        <td> : </td>
        <td><h3> {{batchdata.startDate}}</h3></td>
      </tr>
      <tr>
        <td><h3>EndDate</h3></td>
        <td> : </td>
        <td><h3> {{batchdata.endDate}}</h3></td>
      </tr>
      <tr>
        <td><h3>StartTime</h3></td>
        <td> : </td>
        <td><h3> {{batchdata.startTime}}</h3></td>
      </tr>
      <tr>
        <td><h3>EndTime</h3></td>
        <td> : </td>
        <td><h3> {{batchdata.endTime}}</h3></td>
      </tr>
      <!-- <tr>
        <td><h3>Organizer</h3></td>
        <td> : </td>
        <td><h3> {{batchdata.organizer}}</h3></td>
      </tr> -->
  </th> 
  </table>
  </div>
  </div>
