<div class="container">
  <div class="card">
    <form>
      <div>
        <p class="card-subtitle">Enter OTP</p>
        <ng-otp-input class="ngotpinput" (onInputChange)="onOtpChange($event)" [config]="config"
          class="inline w-full lg:w-full">
        </ng-otp-input>
      </div>
      <p>Didn't receive any Code? Click on Resend</p>
      <div>
        <button class="btn resend" (click)="resend()">Resend OTP</button>
        <button class="btn verify mt-4" (click)="handleClick()" [disabled]="!otp">Verify OTP</button>
      </div>
    </form>
    <!-- <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div> -->
  </div>
</div>































<!-- 
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle class="card-subtitle">Enter OTP</mat-card-subtitle>
  </mat-card-header>
  <form class="justify-start">
    <div class="otp">
      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config" class="inline w-full lg:w-full">
      </ng-otp-input>
    </div>

    <p class="otp-message">Didn't receive a code? Click on Resend</p>
  </form>
  <mat-card-content>
    <mat-card-actions>
      <button class="btn resend" (click)="resend()">Resend</button>
      <button class="btn verify" (click)="handleClick()" [disabled]="!otp">Verify OTP</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card> -->