<mat-toolbar class="header">
    <mat-toolbar-row>
        <img class="vitg-logo" routerLink="" routerLinkActive="active" src="../../assets/vitg-logo.png">
        <h1 class="vision" routerLink="" routerLinkActive="active">Vision </h1>
        <h1 class="it" routerLink="" routerLinkActive="active">IT</h1>
        <h1 class="global" routerLink="" routerLinkActive="active">Global</h1>

        <div class="basic-container">
            <span *ngFor="let item of menuItems">
                <span *ngIf="item.children && item.children.length > 0">
                    <button #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" mat-raised-button
                        class="allcourses" [matMenuTriggerFor]="menu.childMenu">
                        <mat-icon>apps</mat-icon>
                        {{item.displayName}}
                    </button>
                    <app-menu #menu [items]="item.children">
                        <span (mouseleave)="closeMyMenu()"></span>
                    </app-menu>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
                    <button mat-button (click)="onClick()">
                        {{item.displayName}}
                    </button>
                </span>
            </span>
        </div>
        <div class="batch-menu">
            <!-- <span *ngFor="let item of batchMenu">
                    <button mat-raised-button
                        class="allcourses" >
                        <mat-icon>apps</mat-icon>
                        {{item}}
                    </button>
            </span> -->

            <button mat-button [matMenuTriggerFor]="batch" class="allcourses">Batch List</button>
            <!-- #enddocregion mat-menu-trigger-for -->
            <mat-menu #batch="matMenu">
                <span *ngFor="let batch of batchMenu">
                    <button mat-menu-item (click)="batchView(batch.id)">{{batch.name}}</button>
                </span>
            </mat-menu>
        </div>


        <span class="fill-remaining-space"></span>
        <div class="navbar-components">
            <ul class="menu">
                <a mat-button routerLink="aboutus" routerLinkActive="active">ABOUT US</a>
                <a mat-button [matMenuTriggerFor]="services">SERVICES</a>
                <mat-menu #services="matMenu">
                    <a mat-menu-item routerLink="training" routerLinkActive="active">Training</a>
                    <a mat-menu-item routerLink="outSourcing" routerLinkActive="active">Out Sourcing</a>
                    <a mat-menu-item routerLink="internship" routerLinkActive="active">Internship</a>
                    <a mat-menu-item routerLink="projectDevelopment" routerLinkActive="active">Project development</a>
                </mat-menu>
                <a mat-button routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a>
                <a mat-button routerLink="team" routerLinkActive="active">TEAM</a>
                <a mat-button routerLink="contactus" routerLinkActive="active">CONTACT US</a>
                <a mat-button routerLink="register" routerLinkActive="active">LOGIN/REGISTER</a>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="body">
    <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer">
    <mat-toolbar-row>
        &copy;All rights reserved 2022
    </mat-toolbar-row>
</mat-toolbar>