<mat-toolbar class="header">
    <mat-toolbar-row>
        <mat-icon class="language">language</mat-icon>
        <h1 class="header-name" routerLink="imageSlider" routerLinkActive="active">Vision IT </h1>
        <h1 class="global" routerLink="imageSlider" routerLinkActive="active">Global</h1>


        <div class="basic-container">
            <span *ngFor="let item of menuItems">
                <span *ngIf="item.children && item.children.length > 0">
                    <button #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" mat-raised-button
                        class="allcourses" [matMenuTriggerFor]="menu.childMenu">
                        {{item.displayName}}
                    </button>
                    <span (mouseleave)="menuTrigger.closeMenu()"></span>
                    <app-menu #menu [items]="item.children"></app-menu>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
                    <button mat-button color="primary" [routerLink]="item.route">
                        {{item.displayName}}
                    </button>
                </span>
            </span>
        </div>

        <ul class="menu">
            <a routerLink="aboutus" routerLinkActive="active" class="aboutus">ABOUT US</a>
            <a routerLink="services" routerLinkActive="active" class="services">SERVICES</a>
            <a href="/portifolio" class="portifolio">PORTIFOLIO</a>
            <a href="/team" class="team">TEAM</a>
            <a href="/contactus" class="contactus">CONTACT US</a>
            <a href="/register" class="register">REGISTER/LOGIN</a>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>

    
<mat-toolbar class="footer">
    <mat-toolbar-row>
        &copy;All rights reserved 2022
    </mat-toolbar-row>
</mat-toolbar>