<mat-toolbar class="header">
    <mat-toolbar-row>
        <img class="vitg-logo"  routerLink="" routerLinkActive="active" src="../../assets/vitg-logo.png">
        <h1 class="vision" routerLink="" routerLinkActive="active">Vision </h1>
        <h1 class="it" routerLink="" routerLinkActive="active">IT</h1>
        <h1 class="global" routerLink="" routerLinkActive="active">Global</h1>

        <div class="basic-container">
            <span *ngFor="let item of menuItems">
                <span *ngIf="item.children && item.children.length > 0">
                    <button #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" mat-raised-button
                        class="allcourses" [matMenuTriggerFor]="menu.childMenu">
                        <mat-icon>apps</mat-icon>
                        {{item.displayName}}
                    </button>
                    <app-menu #menu [items]="item.children" >
                        <span (mouseleave)="closeMyMenu()"></span>
                    </app-menu>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
                    <button mat-button (click)="onClick()">
                        {{item.displayName}}
                    </button>
                </span>
            </span>
        </div>
        
        <span class="fill-remaining-space"></span>
        <ul class="menu">
            <a routerLink="aboutus" routerLinkActive="active">ABOUT US</a>
            <a routerLink="services" routerLinkActive="active">SERVICES</a>
            <a routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a>
            <a routerLink="team" routerLinkActive="active">TEAM</a>
            <a routerLink="contactus" routerLinkActive="active">CONTACT US</a>
            <a routerLink="register" routerLinkActive="active">LOGIN/REGISTER</a>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>

<div class="body">
    <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer">
    <mat-toolbar-row>
        &copy;All rights reserved 2022
    </mat-toolbar-row>
</mat-toolbar>