<div class="other-urls-container">
    <form [formGroup]="subTopicConceptDetailsForm">
        <div class="form-group row">
            <label for="otherUrls" class="col-sm-3 col-form-label">OtherUrls</label>
            <div class="col-sm-9">
                <input type="text" formControlName="otherUrls" class="form-control"
                    [(ngModel)]="subTopicConceptdata.otherUrls">
            </div>
        </div>
        <button class="btn save" type="button" (click)="saveOtherUrls()">Save</button>
    </form>
</div>