<div class="chat-container" [ngClass]="minimized ? 'chat-box-hide' : 'chat-box-display'">
    <div class="padding">
        <div class="user">
            <div class="user-wrap">
                <img height="30" width="30"
                    src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" />
                <span>Welcome, {{userName}}</span>
                <span class="msg"></span>
            </div>
            <div class="status">
                <mat-icon  class="minimize" fontIcon="home"
                    (click)="goBackToHome()"></mat-icon>
                <mat-icon  class="minimize" fontIcon="minimize"
                    (click)="minimize()"></mat-icon>
            </div>
        </div>
    </div>
    <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div [ngClass]="showAgentMessage ? 'agent-message' : 'hide'">
            <div [ngClass]="showNameBox ? 'enterName' : 'hide'">
                <input type="text" placeholder="enter name" [(ngModel)]="sender" #ctrl="ngModel" />
                <input type="button" value="submit" (click)="userJoin()" />
            </div>
            <div [ngClass]="!showNameBox ? 'agent-message' : 'hide'">
                <img height="20" width="20"
                    src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" />
                <span>{{agentMessage}}</span>
            </div>
        </div>
        <div [ngClass]="showBot ? 'bot' : 'hide'">
            <div class="bot-message">
                <!-- <img height="20" width="20" src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" /> -->
                <mat-icon [ngStyle]="{'color':'#706F6F'}" class="minimize" fontIcon="live_help"
                    (click)="minimize()"></mat-icon>
                <span>{{botMessage}}</span>
            </div>

            <div class="links">
                <a class="link" href="#" *ngFor="let link of links" (click)="showMessage(link)">{{link.title}}</a>
            </div>

            <div class="agent">
                <a class="link" (click)="connect()" href="#">Connect with Agent</a>
            </div>
        </div>
        <ng-container>
            <span *ngFor="let link of links">
                <div div [ngClass]="link.show ? 'bot-body' : 'hide'">
                    <div class="heading">{{link.heading}}</div>
                    <div class="body">{{link.body}}</div>
                    <div class="actions">
                        <a class="link" (click)="goBack()" href="#">Go Back</a>
                        <a class="link" (click)="connect()" href="#">Connect with Agent</a>
                    </div>
                </div>
            </span>
        </ng-container>
    </div>
    <div class="send">
        <div class="input-wrap">
            <textarea class="message" placeholder="type hear...." [(ngModel)]="message" #ctrl="ngModel"></textarea>
            <div class="submit">
                <mat-icon class="icon-send" (click)="send()">send</mat-icon>
            </div>
        </div>
    </div>

</div>


<div [ngClass]="minimized ? 'laptop-chat-minized' : 'chat-box-hide'" (click)="minimize()">
    <div class="user-wrap">
        <mat-icon class="fullscreen" fontIcon="chat_bubble"></mat-icon>
        <span style="color: white" class="value">Live Chat</span>
    </div>
</div>

<div [ngClass]="minimized ? 'mobile-chat-minized' : 'chat-box-hide'" (click)="minimize()">
    <div class="user-wrap">
        <mat-icon class="fullscreen" fontIcon="chat_bubble"></mat-icon>
    </div>
</div>


