<div class="training">
    <h1 class="header">Training</h1>
</div>
<div class="container">
    <div>
        <p>
            Vision IT Global (VIT Global) is a premier IT services firm, distinguished in the field of rendering Web
            Development Services,Vision IT Global . Vision IT Global (VIT Global) has been providing offshore and onsite
            services to its global clientele successfully through a team of Certified and Committed Professionals with
            extensive technical and domain expertise, which strengthens its ability to provide innovative solutions to
            customers, clients, and business partners.
        </p>
    </div>

    <h1 style="font-size: 30px;">Online Mode</h1>
    <div class="shape">
        <div class="text">
            <p>
                Vision IT Global is a leading software training institute providing Software Training, Project Guidance,
                IT
                Consulting and Technology Workshops.</p>
            <p>Using our enhanced global software training delivery methodology, innovative software training approach
                and
                industry expertise, we provide high-value corporate training services that enable our clients to enhance
                business performance, accelerate time-to-market, increase productivity and improve customer service.</p>
            <p>We have provided several online trainings through our experienced trainers</p>
            <p>Click the demo below and go through the process we follow </p>
            <div style="text-align: center;padding-top: 20px;">
                <button type="button"
                    style="background-color: #fff;color: black;border-radius: 5px;border-color: #fff;padding: 8px;"
                    value="submit">Watch Demo</button>
            </div>
        </div>
        <div>
            <ngb-carousel *ngIf="imageObject" [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide *ngFor="let image of imageObject">
                    <img style="width:400px;height: 300px;padding-top: 20px;" [src]="image.img" alt="Random slide" />
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <br>
    <h1 style="font-size: 30px;">Offline Mode</h1>
    <div class="shape">
        <div class="text">
            <p>
                Vision IT Global is a leading software training institute providing Software Training, Project Guidance,
                IT
                Consulting and Technology Workshops.</p>
            <p>Using our enhanced global software training delivery methodology, innovative software training approach
                and
                industry expertise, we provide high-value corporate training services that enable our clients to enhance
                business performance, accelerate time-to-market, increase productivity and improve customer service.</p>
            <p>We have provided several online trainings through our experienced trainers</p>
            <p>Click the demo below and go through the process we follow </p>
            <div style="text-align: center;padding-top: 20px;">
                <button type="button"
                    style="background-color: #fff;color: black;border-radius: 5px;border-color: #fff;padding: 8px;"
                    value="submit">Watch Demo</button>
            </div>
        </div>
        
        <div>
            <ngb-carousel *ngIf="imageObject" [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide *ngFor="let image of imageObject">
                    <img style="width:400px;height: 300px;padding-top: 20px;" [src]="image.img" alt="Random slide" />
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div>
            <div class="card">
                <img src="../../../../assets/trainings/image7.png" alt="">
            </div>
            <h4 class="header">Assign to multiple learners</h4>
        </div>
        <div>
            <div class="card">
                <img src="../../../../assets/trainings/image8.png" alt="">
            </div>
            <h4 class="header">Instant acces via email link</h4>
        </div>
        <div>
            <div class="card">
                <img src="../../../../assets/trainings/image9.png" alt="">
            </div>
            <h4 class="header">Instant Certificate via email</h4>
        </div>
    </div>

    <h1 style="font-size: 30px;">Corporate Trainings</h1>
    <div class="corporate-trainings">
        <div class="card" style="background-color: #87d1c5;">
            <div class="image">
                <img src="../../../../assets/trainings/image1.png" alt="">
                <h3 style="text-align: center;">Technical Training</h3>
            </div>
        </div>
        <div class="card" style="background-color: #5494be;">
            <div class="image">
                <img src="../../../../assets/trainings/image2.png" alt="">
                <h3 style="text-align: center;">Source Network</h3>
            </div>
        </div>
        <div class="card" style="background-color: #b4b9e6;">
            <div class="image">
                <img src="../../../../assets/trainings/image5.png" alt="">
                <h3 style="text-align: center;">Frontend Training</h3>
            </div>
        </div>
        <div class="card" style="background-color: #dbdfa7;">
            <div class="image">
                <img src="../../../../assets/trainings/image4.png" alt="">
                <h3 style="text-align: center;">Devop's Training</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="corporate-trainings">
        <div class="card" style="background-color: #a1c4db;">
            <div class="image">
                <img src="../../../../assets/trainings/image3.png" alt="">
                <h3 style="text-align: center;">Backend Training</h3>
            </div>
        </div>
        <div class="card" style="background-color: #80c289;">
            <div class="image">
                <img src="../../../../assets/trainings/image6.png" alt="">
                <h3 style="text-align: center;">UX/UI Design</h3>
            </div>
        </div>
        <div class="card" style="background-color: #e8cfe9;">
            <div class="image">
                <img src="../../../../assets/trainings/image2.png" alt="">
                <h3 style="text-align: center;">UX/UI Design</h3>
            </div>
        </div>
        <div class="card" style="background-color: #dba4b2;">
            <div class="image">
                <img src="../../../../assets/trainings/image4.png" alt="">
                <h3 style="text-align: center;">UX/UI Design</h3>
            </div>
        </div>
    </div>
</div>













<!-- <div style="margin-top: 40px;">
        <h1 style="font-size: 30px;">Online Mode</h1>
        <div class="shape">
            <div style="color: #fff;padding-top: 10px;">
                <p>
                    Vision IT Global is a leading software training institute providing Software Training, Project Guidance, IT
                    Consulting and Technology Workshops.</p>
                 <p>Using our enhanced global software training delivery methodology, innovative software training approach and
                    industry expertise, we provide high-value corporate training services that enable our clients to enhance
                    business performance, accelerate time-to-market, increase productivity and improve customer service.</p>
        
                 <p>
                    We serve Global 100 companies and the leading software vendors in Banking & Financial Services, Insurance,
                    Telecommunications, Technology and Media, Information & Education industries. We design and mentor human
                    resources for our clients who create competitive advantage.
                 </p>
                
            </div>
            <div style="text-align: center;">
                <button type="button"
                    style="background-color: #fff;color: black;border-radius: 5px;border-color: #fff;padding: 8px;"
                    value="submit">Watch Demo</button>
            </div>
            <div class="images">
                <ngb-carousel *ngIf="imageObject" [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of imageObject">
                        <img style="height:300px" [src]="image.img" alt="Random slide" />
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div> -->