<h1>Tracking Info</h1>
<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/tracking" class="btn back">Back</a>
</div>
<div class="container">
  <div class="card"> 
    <table>
      <th>
      
    
    <!-- <tr>
        <td><h3>Trainer</h3></td>
        <td> : </td>
        <td><h3> {{batchdata.trainer}}</h3></td>
      </tr> -->
      <tr>
        <td><h3>Date</h3></td>
        <td> : </td>
        <td><h3> {{trackdata.date}}</h3></td>
      </tr>
      
      <tr>
        <td><h3>StartTime</h3></td>
        <td> : </td>
        <td><h3> {{trackdata.startTime}}</h3></td>
      </tr>
      <tr>
        <td><h3>EndTime</h3></td>
        <td> : </td>
        <td><h3> {{trackdata.endTime}}</h3></td>
      </tr>
      <tr>
        <td><h3>TopicsCovered</h3></td>
        <td> : </td>
        <td><h3> {{trackdata.topicsCovered}}</h3></td>
      </tr>
      <tr>
        <td><h3>Remarks</h3></td>
        <td> : </td>
        <td><h3> {{trackdata.remarks}}</h3></td>
      </tr>
  </th> 
  </table>
  </div>
  </div>

