<div class="out-sourcing">
    <h1 class="header">Out-Sourcing</h1>
</div>
<div class="container">
    <h1>10,000+ unique out-sourcing services designs,Web development and Graphic elements</h1>
    <div class="content">
        <div style="padding-right: 60px;">
            <p>
                Vision IT Global (VIT Global) is a premier IT services firm, distinguished in the field of rendering Web
                Development Services,Vision IT Global . Vision IT Global (VIT Global) has been providing offshore and
                onsite
                services to its global clientele successfully through a team of Certified and Committed Professionals
                with
                extensive technical and domain expertise, which strengthens its ability to provide innovative solutions
                to
                customers, clients, and business partners.
            </p>
        </div>
        <div>
            <img src="../../../../assets/out-sourcing/image1.jpg" alt="">
        </div>
    </div>
    <div class="content-2">
        <h1>Browse Talent by Category</h1>
        <div class="images">
            <div class="card">
                <div class="card-header" style="background-color: rgb(162, 236, 210);">
                    <div>
                        <h4>Development and IT<p>4.85/5</p></h4>
                    </div>
                    <div>
                        <img src="../../../../assets/out-sourcing/image3.png" alt="" style="margin-left:50px;">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="background-color: rgb(148, 220, 231);">
                    <div>
                        <h4>Design and Creative<p>4.85/5</p></h4>
                    </div>
                    <div>
                        <img src="../../../../assets/out-sourcing/image2.png" alt="" style="margin-left:60px;">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="background-color: rgb(177, 179, 236);">
                    <div>
                        <h4>Finance and Accounting<p>4.85/5</p></h4>
                    </div>
                    <div>
                        <img src="../../../../assets/out-sourcing/image5.png" alt="" style="margin-left:60px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="images">
            <div class="card">
                <div class="card-header" style="background-color: rgb(233, 171, 224);">
                    <div>
                        <h4>Sales and Marketing<p>4.85/5</p></h4>
                    </div>
                    <div>
                        <img src="../../../../assets/out-sourcing/image6.png" alt="" style="margin-left:60px;">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="background-color: rgb(225, 233, 173);">
                    <div>
                        <h4>Legal<p>4.85/5</p></h4>
                    </div>
                    <div>
                        <img src="../../../../assets/out-sourcing/image4.png" alt="" style="margin-left:95px;">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="background-color: rgb(171, 236, 164);">
                    <div>
                        <h4>Architecture<p>4.85/5</p></h4>
                    </div>
                    <div>
                        <img src="../../../../assets/out-sourcing/image7.png" alt="" style="margin-left:55px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-3">
        <p>
            Offering an online course can be one of the most rewarding things you can do as a business owner. Not
            only are you able to share your expertise with a wide audience, but you are also able to build
            relationships with your customers.
            However, the process of developing an online course can be time and resource-intensive. Because of this,
            more and more business owners are choosing to outsource aspects of the process, from design and
            development to marketing and aftersales support.
            In this blog, we will be discussing how to outsource aspects of your online course creation, so you can
            focus on things that matter most for your business.
        </p>
    </div>
</div>