.m-toolbar{
  position: fixed;
  z-index: 2;
  background-color: #0669AD;
  color: #fff;
}

  .language{
    font-size: 33px;
    padding-bottom: 34px;
    padding-right: 30px;
  }

.header-name-visionit{
    font-size: 22px;
    padding-left: 16px;
}
.header-name-global{
    font-size: 22px;
    padding-left: 5px;
    color: #FFC82A;
}

.notification{
  float:right;
  position:absolute;
  right:140px;
 }
 .profile{
  float:right;
  position:absolute;
  right:90px;
 }