
.card{
    border: 1px solid #0669ad;
    border-radius: 4px;
    height: 100%;
    width: 80%;
    margin-top: 50px;
    margin-left: 40px;
    padding-left: 60px;
    padding-top: 20px;
}
.save{
    margin-top: 50px;
    margin-left: 630px;
    background-color: #0669ad;
    border-color: #fff;
    border-radius: 6px;
    padding: 5px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}

.name{
    color: #0669ad;
    padding-left: 220px;
}


