<div class="d-flex flex-row-reverse bd-highlight">
  <a href="#" routerLink="/staff" class="btn back">Back</a>
</div>

<div class="container">
  <h1 class="name">Staff Details</h1>
  <div class="card">
    <form>
      <div class="form-group row">
        <label class="col-sm-4">Id</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{staffdata.id}}
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-4">Phone Number</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{staffdata.phoneNumber}}
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-4">Name</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{staffdata.name}}
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-4">Gender</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{staffdata.gender}}
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-4">Role Name</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{staffdata.role.roleName}}
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-4">Aadhar number</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{staffdata.aadharNumber}}
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-4">Pan Card Number</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{staffdata.panCardNumber}}
        </div>
      </div>
    </form>
  </div>
</div>