<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <span *ngFor="let child of items">
        <span *ngIf="child.children && child.children.length > 0 ">
            <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
                {{child.displayName}}
            </button>
            <app-material-menu #menu [items]="child.children"></app-material-menu>
        </span>
        <span *ngIf="!child.children || child.children.length === 0">
            <button mat-menu-item (click)="onClick(loggedInUserId,child.id)">
                {{child.displayName}}
            </button>
        </span>
    </span>
</mat-menu>
