<div class="profile-container">
    <div class="profile-card">
        <img src="../../../assets/team/dummy_image.jpg"> <br />
    </div>
    <div class="profile-details-card">
        <div>
            <div style="font-size: 30px;padding-bottom: 30px;">
                {{studentDTO.name}}
            </div>
        </div>
        <div>
            <div class="form-group row">
                <label class="col-sm-4">Email</label>
                <div class="col-sm-1">:</div>
                <div class="col-sm-1">
                    {{studentDTO.email}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Phone Number</label>
                <div class="col-sm-1">:</div>
                <div class="col-sm-1">
                    {{studentDTO.phoneNumber}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Gender</label>
                <div class="col-sm-1">:</div>
                <div class="col-sm-1">
                    {{studentDTO.gender}}
                </div>
            </div>
        </div>
    </div>
</div>