<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/tracking" class="btn back">Back</a>
</div>
<div class="container">
    <h1 class="name">Update track</h1>
    <div class="card">
        <form [formGroup]="trackDetailsForm">
            <div class="form-group row">
                <label for="id" class="col-sm-3 col-form-label">Track Id</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="id" [(ngModel)]="trackdata.id">
                </div>
            </div><br>
            <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label"> Date</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="date"
                        [(ngModel)]="trackdata.date">
                        </div> 
            </div><br> 
             <div class="form-group row">
                <label for="startTime" class="col-sm-3 col-form-label">StartTime</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" 
                    formControlName="startTime" [(ngModel)]="trackdata.startTime">
                </div>
            </div><br> 
            <div class="form-group row">
                <label for="endTime" class="col-sm-3 col-form-label">EndTime</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" 
                    formControlName="endTime" [(ngModel)]="trackdata.endTime">
                </div>
            </div><br> 
            <div class="form-group row">
                <label for="topicsCovered" class="col-sm-3 col-form-label">topicsCovered</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" 
                    formControlName="topicsCovered" [(ngModel)]="trackdata.topicsCovered">
                </div>
            </div><br> 
            <div class="form-group row">
                <label for="remarks" class="col-sm-3 col-form-label">remarks</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" 
                    formControlName="remarks" [(ngModel)]="trackdata.remarks">
                </div>
            </div><br> 
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button type="button" class="btn save" (click)="updateTrack()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

