<div class="d-flex flex-row-reverse bd-highlight">
  <a href="#" routerLink="/student" class="btn back">Back</a>
</div>


<div class="container">
  <div class="card">
    <form>
      <div class="form-group row">
        <label class="col-sm-4">Id</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{studentdata.id}}
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-4">Phone Number</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{studentdata.phoneNumber}}
        </div>
      </div><br>
      <div class="form-group row">
        <label class="col-sm-4">Name</label>
        <div class="col-sm-2">:</div>
        <div class="col-sm-4">
          {{studentdata.name}}
        </div>
      </div><br>
    </form>
  </div>
</div>