<div class="container">
    <div class="card">
        <form [formGroup]="subCourseDetailsForm">
            <div>
                <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"
                    formControlName="overview" [(ngModel)]="subCoursedata.overview"></ckeditor>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button class="btn save" type="button" (click)="updateSubCourse()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>