<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <span *ngIf="child.children && child.children.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu" (menuOpened)="getData()">
        <span>{{child.displayName}}</span>
      </button>
      <app-menu #menu [items]="child.children"></app-menu>
    </span>
    <span *ngIf="!child.children || child.children.length === 0">
      <button mat-menu-item [routerLink]="child.route">
        <span>{{child.displayName}}</span>
      </button>
    </span>
  </span>
</mat-menu>






<!-- (onChange)="getSubCourses($event)" -->























<!--   
<ng-container *ngIf="root">
    <ng-container *ngIf="hasChildren()">
        <button mat-button [matMenuTriggerFor]="menu">{{item.displayName}}</button>
        <mat-menu #menu="matMenu">
            <app-menu *ngFor="let item of getChildren()" [item]="item" [root]=false></app-menu>
        </mat-menu>
    </ng-container>
    <ng-container *ngIf="!hasChildren()">
        <button mat-button>{{item.displayName}}</button>
    </ng-container>
</ng-container>
<ng-container *ngIf="!root">
    <ng-container *ngIf="hasChildren()">
        <button mat-menu-item [matMenuTriggerFor]="childMenu">{{item.displayName}}</button>
        <mat-menu #childMenu="matMenu">
            <app-menu *ngFor="let item of getChildren()" [item]="item" [root]=false></app-menu>
        </mat-menu>
    </ng-container>
    <ng-container *ngIf="!hasChildren()">
        <button mat-menu-item>{{item.displayName}}</button>
    </ng-container>
</ng-container> -->