<div class="project-development">
    <h1 class="header">Project development</h1>
</div>

<div class="container">
    <div>
        <p>
            Vision IT Global (VIT Global) is a premier IT services firm, distinguished in the field of rendering Web
            Development Services,Vision IT Global . Vision IT Global (VIT Global) has been providing offshore and
            onsite
            services to its global clientele successfully through a team of Certified and Committed Professionals
            with
            extensive technical and domain expertise, which strengthens its ability to provide innovative solutions
            to
            customers, clients, and business partners.
        </p>
    </div>
    <div class="content">
        <div>
            <div class="card">
                <img src="../../../../assets/project-development/image1.png" alt="">
            </div>
            <h2 class="header">UX/UI Design</h2>
            <p>We design intutive and user-friendly interface helping stand out among the competition</p>
        </div>
        <div>
            <div class="card">
                <img src="../../../../assets/project-development/image2.png" alt="">
            </div>
            <h2 class="header">Single Project</h2>
            <p>
                Plan any project flow in one workspace and track its progress
            </p>
        </div>
        <div>
            <div class="card">
                <img src="../../../../assets/project-development/image3.png" alt="">
            </div>
            <h2 class="header">Project Portfolio Management</h2>
            <p>
                Manage simple to complex projects across multiple teams and departments
            </p>
        </div>
        <div>
            <div class="card">
                <img src="../../../../assets/project-development/image4.png" alt="">
            </div>
            <h2 class="header">Project Requests and Approvals</h2>
            <p>
                Stream line requests and approvals to ensure projects are running smoothly
            </p>
        </div>
    </div>
</div>