.project-development{
    margin-top: 30px;
    background-color: rgb(231, 230, 230);
    height: 70px;
    text-align: start;
    padding-top: 20px;
}
.project-development .header{
    padding-left: 110px;
    font-size: 30px;
}
.container{
    padding-top: 30px;
}
.container .content{
    display: flex;
    column-gap: 20px;
    padding-top: 30px;
}
.container .content .card{
    width:320px
}
.container .content .header{
    color: #0069ad;
}