a{
    min-width: 0px !important;
    padding: 17px !important;
    margin: 1px;
}
nav a {
    color: #000000;
    background-color: #91b9d4;
    border-radius: 5px;
    height: 10px;
}
::ng-deep .mat-ink-bar {
    background-color: #0669ad !important;
}