.card{
    width: 80%;
    height: 80%;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-top: 40px;
    border: 1px solid #0669ad;
    border-radius: 4px;
    padding-bottom: 20px;
}
.save{
    margin-top: 50px;
    margin-left: 295px;
    background-color: #d6b33f;
    border-color: #fff;
    border-radius: 6px;
    padding: 5px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px; 
    line-height: 24px;
    color: white;
    cursor: pointer;
}

.name{ 
    color: #0669ad;
    padding-left: 100px;
}
.example-form-field {
    margin-right: 20px;
    size:30px;
  }
  .datepicker{
    size:30px;
    font-size:10px;
    width: 17em;  
  }