<div class="conatiner">
    <h1 class="name">Create Tracker</h1>
    <div class="card">
        <form [formGroup]="trackDetailsForm">

            <div class="form-group row">
                <label for="batch" class="col-sm-4 col-form-label">Batch Name<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <p-dropdown placeholder="- Select  -" [options]="batchList" optionLabel="name"
                        formControlName="batch" [style]="{width: '100%'}">
                    </p-dropdown>
                    <div class="text-error"
                        *ngIf="trackDetailsForm.controls['batch'].invalid && (trackDetailsForm.controls['batch'].dirty || trackDetailsForm.controls['batch'].touched)">
                        <div *ngIf="trackDetailsForm.controls['batch']">
                            batch Name is Required
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="form-group row">
                 <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Date" formControlName="date"
                            [(ngModel)]="track.date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
     
            </div>
            <div class="form-group row">
                <mat-form-field appearance="outline">
                    <mat-label>start time</mat-label>
                    <input type="time" matInput name="week" formControlName="startTime" [(ngModel)]="track.startTime" />
                </mat-form-field>
                <br />
                <mat-form-field appearance="outline">
                    <mat-label>end time</mat-label>
                    <input type="time" matInput name="week" formControlName="endTime" [(ngModel)]="track.endTime" />
                </mat-form-field>
            </div>
            <div class="form-group row">
                <label for="topicsCovered" class="col-sm-4 col-form-label">Topics Covered<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" formControlName="topicsCovered" class="form-control"
                        [(ngModel)]="track.topicsCovered">
                </div>
            </div><br>
            <div class="form-group row">
                <label for="remarks" class="col-sm-4 col-form-label">Remarks<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" formControlName="remarks" class="form-control" [(ngModel)]="track.remarks">
                </div>
            </div><br>


            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button class="btn save" type="button" (click)="createTrack()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>