.card {
  height: 80%;
  margin-left: 100px;
  margin-top: 0px;
  margin-bottom: 40px;
  padding-left: 60px;
  padding-top: 40px;
  border: 1px solid #0669ad;
  border-radius: 4px;
  padding-bottom: 20px;
  padding: 20px;
}
.save {
  margin-top: 50px;
  margin-left: 495px;
  background-color: #0669ad;
  border-color: #fff;
  border-radius: 6px;
  padding: 5px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: white;
  cursor: pointer;
}

.name {
  color: #0669ad;
  padding-left: 100px;
}
.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}


.dates {
  display: flex;
  justify-content: center;
  align-items: center;
  .field {
    width: 25%;
  }
}

.times {
  display: flex;
  justify-content: center;
  align-items: center;
  .field {
    width: 25%;
  }
}

.fee-duration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .batch-input{
    width: 25%;
    height: 50px;
  }
}

.batch-input{
  height: 50px;
}