<div class="container">
    <div class="images">
        <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="5"
            [imageSize]="{width: '100%', height: 500}" slideImage="1"></ng-image-slider>
    </div>
    <app-card-images></app-card-images>
    <!-- <app-upcoming-batches-table></app-upcoming-batches-table> -->
    <div class="faqs">
        <h1>FAQ's</h1>
        <cdk-accordion class="example-accordion">
            <cdk-accordion-item
              *ngFor="let item of items; let index = index;"
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index">
              <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                {{ item.question }}
                <span class="example-accordion-item-description">
                  <!-- {{ accordionItem.expanded ? <mat-icon>apps</mat-icon> : 'open' }} -->
                  <mat-icon *ngIf="accordionItem.expanded ">expand_less</mat-icon>
                  <mat-icon *ngIf="!accordionItem.expanded ">expand_more</mat-icon>
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                {{item.answer}}
              </div>
            </cdk-accordion-item>
          </cdk-accordion>
    </div>
</div>

