<!-- <div class="container">
  <h1 class="name">Staff List</h1>
  <div class="card">
    <p-table #dt1 [value]="staffdata" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,15,20,100]" [filterDelay]="0"
      [globalFilterFields]="['id','name','role.roleName','phoneNumber']">

      <ng-template pTemplate="caption">
        <button class="addStaff" pButton label="Add Staff" icon="pi pi-plus" routerLink="/staffRegister"></button>
        <div class="search">
          <input class="search" pInputText type="text" pInputText size="20"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Global Filter">
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="name">NAME<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="phoneNumber">PHONE NUMBER<p-sortIcon field="phoneNumber"></p-sortIcon>
          </th>
          <th pSortableColumn="role">ROLE<p-sortIcon field="role"></p-sortIcon>
          </th>
          <th>ACTION </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-staff>
        <tr>
          <td>{{staff.id}}</td>
          <td>{{staff.name}}</td>
          <td>{{staff.phoneNumber }}</td>
          <td>{{staff.role.roleName }}</td>
          <td>
            <a  [routerLink]="['/viewstaff/', staff.id]">
              <span class="material-icons eye"> visibility </span></a>

            <a [routerLink]="['/editstaff/', staff.id]">
              <span class="material-icons edit">edit </span></a>

            <a (click)="deleteStaff(staff.id)">
              <span class="material-icons delete">delete</span>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div> -->

<app-table-view [tableData]="tableData"></app-table-view> 