<mat-toolbar class="header">
    <mat-toolbar-row>
        <img class="vitg-logo" src="../../assets/vitg-logo.png">
        <h1 class="header-name-vision">Vision</h1>
        <h1 class="header-name-it">IT</h1>
        <h1 class="header-name-global">Global</h1>

        <span class="toolbar-item-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="bell">
            <mat-icon>notifications_none</mat-icon>
        </button>
        <mat-menu #bell="matMenu" class="myMenu" yPosition="above" xPosition="before" class="notification-menu">
            <button mat-menu-item class="notification-menu__button" >
                <mat-icon class="notification-menu__icon_yellow">local_offer</mat-icon>
                Notifications
            </button>
            <button mat-menu-item class="notification-menu__button" (click)="openEnquires()">
                <mat-icon class="notification-menu__icon_yellow">enquiryr</mat-icon>
                Enquires
            </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="profile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #profile="matMenu" class="myMenu" yPosition="above" xPosition="before" class="notification-menu">
            <button mat-menu-item class="notification-menu__button">
                <mat-icon class="notification-menu__icon_yellow">person</mat-icon>profile
            </button>
            <button mat-menu-item class="notification-menu__button" (click)="onLoggedout()">
                <mat-icon class="notification-menu__icon_yellow">logout</mat-icon>Logout
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side" [ngClass]="{ 'm-sidenav': true, 'm-sidenav-exapand': sidenavSmall }">
        <button mat-icon-button class="menu" type="button" (click)="sidenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-nav-list>
            <app-sidenav *ngFor="let item of menuItems" [item]="item"></app-sidenav>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{ 'm-content': true, 'm-content-exapand': sidenavSmall }">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="footer">
    &copy;All rights reserved 2022
</mat-toolbar>