<app-header></app-header>

<mat-sidenav-container>
    <mat-sidenav [ngClass]="{ 'm-sidenav': true, 'm-sidenav-exapand': sidenavSmall }" mode="side" opened #sidenav>
        <button mat-icon-button class="menu" type="button" (click)="sidenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-nav-list>
            <app-sidenav *ngFor="let item of navItems" [item]="item"></app-sidenav>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{ 'm-content': true, 'm-content-exapand': sidenavSmall }">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="footer">
    <mat-toolbar-row>
        &copy;All rights reserved 2022
    </mat-toolbar-row>
</mat-toolbar>