.back{
    float: right;
    background-color: #0669ad;
    border-radius: 6px;
    padding: 5px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: white;
}
.save{
    margin-top: 50px;
    margin-left: 295px;
    background-color: #0669ad;
    border-color: #fff;
    border-radius: 6px;
    padding: 5px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}