<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/course" class="btn back">Back</a>
</div>
<div class="container">
    <h1 class="name">Update Course</h1>
    <div class="card">
        <form [formGroup]="courseDetailsForm">
            <div class="form-group-row">
                <div class="form-group row">
                    <label for="id" class="col-sm-3 col-form-label">Course Id</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="id" class="form-control" required
                            [(ngModel)]="coursedata.id">
                    </div>
                </div><br>
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Course Name</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="name" class="form-control" required
                            [(ngModel)]="coursedata.name" >
                    </div>
                </div><br>
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="coursedata.status" formControlName="status">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
            </div><br>
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button class="btn save" type="button" (click)="onSubmitUpdateCourse()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>