<h1>Student Registration</h1>
<div class="batch-register">
    <div class="container">
        <div class="batch row1">
            <span>Add Student</span>
        </div>
        
        <div class="row2">
            <form [formGroup]="batchRegisterForm">
            <p-dropdown  placeholder="- Select Batch -" class="dropdown" 
                formControlName="batch" [options]="batchList" optionLabel="name" [style]="{'minWidth':'100%', 'height': '35px'}"></p-dropdown>
                <div class="search-input">
                    <label>Search Student</label>
                    <div class="search-msg">enter student id and press to start search</div>
                    <input type="input" placeholder="enter student id" formControlName="studentId" (change)="onChange()" />
                    <div>{{studentName}}</div>
                </div>
            <div class="send">
                <input type="button" value="Register" [disabled]="!batchRegisterForm.valid"  />
            </div>
        </form>
        </div>
    </div>
    <div *ngIf="display_status === true" class="status"><pre>{{response}}</pre></div>
</div>
