<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <span *ngIf="child.children && child.children.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
        {{child.displayName}}
      </button>
      <app-menu #menu [items]="child.children"></app-menu>
    </span>
    <span *ngIf="!child.children || child.children.length === 0">
      <button mat-menu-item (click)="onClick(child.id)">
        <span>{{child.displayName}}</span>
      </button>
    </span>
  </span>
</mat-menu>