<div class="container">
    <div class="card">
        <form [formGroup]="subTopicConceptDetailsForm">
            <div class="form-group row">
                <label for="githubUrl" class="col-sm-3 col-form-label">GithubUrl</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="githubUrl" class="form-control"
                        [(ngModel)]="subTopicConceptdata.githubUrl">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button class="btn save" type="button" (click)="saveGithubUrl()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>