.send-invitation {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .row1 {
        width: 30%;
    }
    .row2 {
        width: 70%;
    }
    .container {
        margin: 0;
        width: 50%;
        display: flex;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        background-color: #fff;
        padding: 40px;
        .batch {
            display: flex;
            span {
                margin-right: 20px;   
            }
         }
        .select-checkbox {
            margin: 20px 0;
            .checkbox {
                padding: 5px;
                span {
                    margin-left: 10px;
                }
            }
        }
        .emails {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            textarea {
                width: 100%;
                padding: 10px;
                outline: none;
            }
        }
        .message {
            textarea {
                height: 150px;
                width: 100%;
                padding: 10px;
                outline: none;
            }
        }
        .send {
            margin-top: 30px;
            text-align: right;
        }
    }
    .status {
        width: 50%;
        padding: 40px;
    }
    
}