.menu:hover {
    background-color: rgb(231, 225, 225)
}

.all-course {
    height: 35px;
    margin: 10px;
    padding: 4px 10px;
    border: 1px solid rgb(241, 238, 238);
    border-radius: 4px;
    padding: 0 20px;
    cursor: pointer;
    color: #fff;
    background-color: #0669ad;
    border-color: #fff;
}