<div class="container">
    <div class="card">
        <form [formGroup]="subTopicConceptDetailsForm">
            <div class="form-group row">
                <label for="course" class="col-sm-3 col-form-label">Course Name<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <p-dropdown placeholder="- Select -" [options]="courseList" optionLabel="name"
                        formControlName="course" [style]="{width: '100%'}" (onChange)="getSubCourseList($event)">
                    </p-dropdown>
                    <div class="text-error"
                        *ngIf="subTopicConceptDetailsForm.controls['course'].invalid && (subTopicConceptDetailsForm.controls['course'].dirty || subTopicConceptDetailsForm.controls['course'].touched)">
                        <div *ngIf="subTopicConceptDetailsForm.controls['course']">
                            Course Name is Required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="subCourse" class="col-sm-3 col-form-label">SubCourse Name<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <p-dropdown placeholder="- Select  -" [options]="subCourseList" optionLabel="name"
                        formControlName="subCourse" [style]="{width: '100%'}" (onChange)="getTopicList($event)">
                    </p-dropdown>
                    <div class="text-error"
                        *ngIf="subTopicConceptDetailsForm.controls['subCourse'].invalid && (subTopicConceptDetailsForm.controls['subCourse'].dirty || subTopicConceptDetailsForm.controls['subCourse'].touched)">
                        <div *ngIf="subTopicConceptDetailsForm.controls['subCourse']">
                            SubCourse Name is Required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="topic" class="col-sm-3 col-form-label">Topic Name<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <p-dropdown placeholder="- Select  -" [options]="topicList" optionLabel="name"
                        formControlName="topic" [style]="{width: '100%'}" (onChange)="getSubTopicList($event)">
                    </p-dropdown>
                    <div class="text-error"
                        *ngIf="subTopicConceptDetailsForm.controls['topic'].invalid && (subTopicConceptDetailsForm.controls['topic'].dirty || subTopicConceptDetailsForm.controls['topic'].touched)">
                        <div *ngIf="subTopicConceptDetailsForm.controls['topic']">
                            Topic Name is Required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="subTopic" class="col-sm-3 col-form-label">SubTopic Name<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <p-dropdown placeholder="- Select  -" [options]="subTopicList" optionLabel="name"
                        formControlName="subTopic" [style]="{width: '100%'}">
                    </p-dropdown>
                    <div class="text-error"
                        *ngIf="subTopicConceptDetailsForm.controls['subTopic'].invalid && (subTopicConceptDetailsForm.controls['subTopic'].dirty || subTopicConceptDetailsForm.controls['subTopic'].touched)">
                        <div *ngIf="subTopicConceptDetailsForm.controls['subTopic']">
                            Topic Name is Required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="concept" class="col-sm-3 col-form-label">Concept</label>
                <div class="col-sm-6">
                    <ckeditor [editor]="Editor" data="<p>Hello, vitg! </p>" (ready)="onReady($event)"
                        formControlName="concept" [(ngModel)]="subTopicConcept.concept"></ckeditor>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button class="btn save" type="button" (click)="createSubTopicConcept()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>