<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/subtopic" class="btn back">Back</a>
</div>
<div class="container">
    <h1 class="name">Update Subtopic</h1>
    <div class="card">
        <form [formGroup]="subTopicDetailsForm">
            <div class="form-group row">
                <label for="id" class="col-sm-4 col-form-label">SubTopic Id</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="id" [(ngModel)]="subTopicdata.id">
                </div>
            </div><br>
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">SubTopic Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="name" [(ngModel)]="subTopicdata.name">
                </div>
            </div><br>
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                <button type="button" class="btn save" (click)="updateSubTopic()">Save</button>
            </div>
            </div>
        </form>
    </div>
</div>