<!-- <mat-toolbar class="header">
    <mat-toolbar-row>
        <img class="vitg-logo"  src="../../assets/vitg-logo.png">
        <h1 class="vision" >Vision </h1>
        <h1 class="it" >IT</h1>
        <h1 class="global" >Global</h1>

        <div class="basic-container">
            <span *ngFor="let item of menuItems">
                <span *ngIf="item.children && item.children.length > 0">
                    <button #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" mat-raised-button
                        class="allcourses" [matMenuTriggerFor]="menu.childMenu">
                        <mat-icon>apps</mat-icon>
                        {{item.displayName}}
                    </button>
                    <app-menu #menu [items]="item.children" >
                        <span (mouseleave)="closeMyMenu()"></span>
                    </app-menu>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
                    <button mat-button (click)="onClick()">
                        {{item.displayName}}
                    </button>
                </span>
            </span>
        </div>

        <div  class="basic-container">
            <span *ngFor="let item of materialMenuItems">
                <span *ngIf="item.children && item.children.length > 0">
                    <button #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" mat-raised-button class="material"
                        [matMenuTriggerFor]="menu.childMenu">
                        <mat-icon>library_books</mat-icon>
                        {{item.displayName}}
                    </button>
                    <app-menu #menu [items]="item.children"></app-menu>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
                    <button mat-button (click)="onClickMaterial()">
                        {{item.displayName}}
                    </button>
                </span>
            </span>
        </div>

        <button mat-button class="allcourses" (click)="batchView()" >Batch List</button>
            #enddocregion mat-menu-trigger-for
            <mat-menu #batch="matMenu">
                    <button mat-menu-item (click)="batchView()">{{batch.name}}</button>
            </mat-menu>
        
        <span class="fill-remaining-space"></span>
        <ul class="menu">
            <a routerLink="aboutus" routerLinkActive="active">ABOUT US</a>
            <a routerLink="services" routerLinkActive="active">SERVICES</a>
            <a routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a>
            <a routerLink="team" routerLinkActive="active">TEAM</a>
            <a routerLink="contactus" routerLinkActive="active">CONTACT US</a>
            <button mat-icon-button [matMenuTriggerFor]="profile">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #profile="matMenu" class="myMenu" yPosition="above" xPosition="before" class="notification-menu">
                <button mat-menu-item class="notification-menu__button">
                    <mat-icon class="notification-menu__icon_yellow">person</mat-icon>profile
                </button>
                <button mat-menu-item class="notification-menu__button" (click)="onLoggedout()">
                    <mat-icon class="notification-menu__icon_yellow">logout</mat-icon>Logout
                </button>
            </mat-menu>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>

<div class="body">
    <router-outlet></router-outlet>
</div>
<div class="chat-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <app-chat [links]="linksArray" [userName]="userName"></app-chat>
</div>
<mat-toolbar class="footer">
    <mat-toolbar-row>
        &copy;All rights reserved 2022
    </mat-toolbar-row>
</mat-toolbar> -->

<div class="mainscreen-container">
    <app-header [material]="true"></app-header>
    <div class="body">
        <div [ngClass]="showSideMenu ? 'side-nav' : 'side-nav-hide'">
            <mat-sidenav class="app-sidenav" #sidenav mode="side" opened="true">
                <mat-nav-list>
                    <mat-accordion>
                        <div *ngFor="let item of topicData">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div>
                                            {{item.topic}}
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let subTopic of item.subTopicNameList">
                                    <mat-list-item (click)="onClickSubTopic(subTopic)">
                                        {{subTopic.name}}
                                    </mat-list-item>
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>
                </mat-nav-list>
            </mat-sidenav>
        </div>
        <div [ngClass]="showSideMenu ? 'content' : 'content-on-side-nav-hide'"><router-outlet></router-outlet></div>
    </div>
    <div>
        <div class="chat-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <app-chat [links]="linksArray"></app-chat>
        </div>
    </div>
    <app-footer></app-footer>
</div>