<div class="container">
    <button class="btn addFiles" (click)="addFiles()">Add Files</button>
    <table class="table table-grid">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of examplesTabData">
                <td>{{file.fileName}}</td>
                <td>
                    <a   (click)="viewFile(examplesTabData.fileName)">
                        <span class="material-icons eye"> visibility </span>
                    </a>
                    <a (click)="deleteFile(examplesTabData.fileName)">
                        <span class="material-icons delete">delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>