
<div class="container">
    <div class="card">
        <form [formGroup]="subTopicConceptDetailsForm">
            <div class="form-group row">
                <label for="examples" class="col-sm-3 col-form-label">Examples<span
                        class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="file" formControlName="examples" multiple class="form-control"
                        (change)="onUploadChangeExamples($event)">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button class="btn save" type="button" (click)="uploadFiles('examples')">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>