.card {
    border: 1px solid #0669ad;
    border-radius: 4px;
    margin-top: -16px;
}
.name {
    color: #0669ad;
}
.addStudent {
    float: right;
    background-color: #ffc82a;
    color: #000;
    border: none;
}
.addStudent:hover {
    background-color: #ffc82a;
    color: #000;
}
.search input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 250px;
    border: 1px solid #0669ad;
    border-radius: 4px;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.001rem;
    overflow: hidden;
    font-family: sans-serif;
}

.search input {
    font-size: 15px;
    background: #fff;
    outline: 2px;
    padding: 0.7rem;
}
.eye {
    color: #0669ad;
    position: relative;
    margin-left: 2px;
    top: 2px;
    font-size: 18px;
    padding-left: 2px;
}
.edit {
    color: #0669ad;
    position: relative;
    margin-left: 2px;
    top: 2px;
    font-size: 18px;
    padding-left: 2px;
}
.delete {
    color: #0669ad;
    position: relative;
    margin-left: 2px;
    top: 2px;
    font-size: 18px;
    padding-left: 2px;
}
