<!-- <div class="container">
  <h1 class="name">Topic List</h1>
  <div class="card">
    <p-table #dt1 [value]="topicdata" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,15,20,100]" [filterDelay]="0" [globalFilterFields]="['id','name','subCourse.course.name','subCourse.name']">

      <ng-template pTemplate="caption">
        <button class="addTopic" pButton label="Add Topic" icon="pi pi-plus" routerLink="/addTopic" ></button>

        <div class="search">
          <input class="search" pInputText type="text" pInputText size="20"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Global Filter">
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">TOPIC ID<p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="name">TOPIC NAME<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="courseName">COURSE NAME<p-sortIcon field="courseName"></p-sortIcon>
          </th>
          <th pSortableColumn="subCourseName">SUB COURSE NAME<p-sortIcon field="subCourseName"></p-sortIcon>
          </th>
          <th>ACTION </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-topic>
        <tr>
          <td>{{topic.id}}</td>
          <td>{{topic.name}}</td>
          <td>{{topic.subCourse.course.name}}</td>
          <td>{{topic.subCourse.name}}</td>
          <td>
            <a [routerLink]="['/viewtopic/', topic.id]">
              <span class="material-icons eye"> visibility </span></a>

            <a [routerLink]="['/edittopic/', topic.id]">
              <span class="material-icons edit">edit </span></a>

            <a (click)="deleteTopic(topic.id)">
              <span class="material-icons delete"> delete </span></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>






 <div class="container">
    <h1 class="name">Topic List</h1>
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TOPIC NAME</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topic of topics | async">
                    <td>{{topic.id}}</td>
                    <td>{{topic.name}}</td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> --> 

<app-table-view [tableData]="tableData"></app-table-view> 