
<div class="portofolio-container">
    <div class="portfolio">
        <h1 class="header">Portfolio</h1>
    </div>
    <div class="text">
        <p>
            Vision IT Global (VIT Global) is a premier IT services firm, distinguished in the field of rendering Web
            Development Services,Vision IT Global . Vision IT Global (VIT Global) has been providing offshore and onsite
            services to its global clientele successfully through a team of Certified and Committed Professionals with
            extensive technical and domain expertise, which strengthens its ability to provide innovative solutions to
            customers, clients, and business partners.
        </p>
    </div >
    <div class="cards hover01 column">
        <div class="card">
            <img src="../../../../assets/portfolio/image1.png" />
        </div>
        <div class="card">
            <img src="../../../../assets/portfolio/image2.png" />
        </div>
        <div class="card">
            <img src="../../../../assets/portfolio/image3.png" />
        </div>
    </div>

    <div class="text">
        <p>
            Vision IT Global (VIT Global) is a premier IT services firm, distinguished in the field of rendering Web
            Development Services,Vision IT Global . Vision IT Global (VIT Global) has been providing offshore and onsite
            services to its global clientele successfully through a team of Certified and Committed Professionals with
            extensive technical and domain expertise, which strengthens its ability to provide innovative solutions to
            customers, clients, and business partners.
        </p>
    </div>
</div>