<div class="container">
    <h1 class="name">Upcoming Batches</h1>
    <div class="card">
        <p-table #dt1 [value]="upcomingBatchdata" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,15,20,100]" [filterDelay]="0"
            [globalFilterFields]="['course','startDate','mode','duration']">

            <ng-template pTemplate="caption">
                <div class="search">
                    <input class="search" pInputText type="text" pInputText size="20"
                        (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Global Filter"><br><br>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="course">COURSE<p-sortIcon field="course"></p-sortIcon>
                    </th>
                    <th pSortableColumn="startDate">START DATE<p-sortIcon field="startDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="mode">MODE<p-sortIcon field="mode"></p-sortIcon>
                    </th>
                    <th pSortableColumn="duration">DURATION<p-sortIcon field="duration"></p-sortIcon>
                    </th>
                    <th pSortableColumn="register">REGISTER<p-sortIcon field="register"></p-sortIcon>
                    </th>
                    <th>ACTION </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-upcomingBatch>
                <tr>
                    <td>{{upcomingBatch.course}}</td>
                    <td>{{upcomingBatch.startDate}}</td>
                    <td>{{upcomingBatch.mode }}</td>
                    <td>{{upcomingBatch.duration }}</td>
                    <td>{{upcomingBatch.register }}</td>
                    <td>
                        <a [routerLink]="['/viewstaff/']">
                            <span class="material-icons eye"> visibility </span></a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>