<div class="internship">
    <h1 class="header">Internship</h1>
</div>

<div class="container">
    <div>
        <p>
            Vision IT Global (VIT Global) is a premier IT services firm, distinguished in the field of rendering Web
            Development Services,Vision IT Global . Vision IT Global (VIT Global) has been providing offshore and
            onsite
            services to its global clientele successfully through a team of Certified and Committed Professionals
            with
            extensive technical and domain expertise, which strengthens its ability to provide innovative solutions
            to
            customers, clients, and business partners.
        </p>
    </div>
    <div class="content">
        <div class="card">
            <div class="image">
                <img src="../../../../assets/internship/image1.png" alt="">
            </div>
            <div class="text">
                <p>
                    Most trusted website brand in Hyderabad.
                    3000+ happy customers from India.
                    We are located in 7 cities across the India.
                    We only make business websites. Find exact quotation.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../../../assets/internship/image2.png" alt="">
            </div>
            <div class="text">
                <p>
                    Python are encouraged to incorporate the
                    Python logo on their websites, brochures,
                    packaging, and elsewhere to indicate ...
                </p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../../../assets/internship/image3.png" alt="">
            </div>
            <div class="text">
                <p>
                    The Java logo is prototyped as a blue coffee cup
                    with red steam above it.The logo was a recognition
                    for the Java engineers, who have a lot of coffee while
                </p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../../../assets/internship/image1.png" alt="">
            </div>
            <div class="text">
                <p>
                    Most trusted website brand in Hyderabad.
                    3000+ happy customers from India.
                    We are located in 7 cities across the India.
                    We only make business websites. Find exact quotation.
                </p>
            </div>
        </div>
    </div>
    <div>
        <p>
            Offering an online course can be one of the most rewarding things you can do as a business owner. Not only
            are you able to share your expertise with a wide audience, but you are also able to build relationships with
            your customers.
            However, the process of developing an online course can be time and resource-intensive. Because of this,
            more and more business owners are choosing to outsource aspects of the process, from design and development
            to marketing and aftersales support.
            In this blog, we will be discussing how to outsource aspects of your online course creation, so you can
            focus on things that matter most for your business.
        </p>
    </div>
</div>