<div class="loginwcountry-container">
    <div class="loginwcountry">
        <div class="header">
            <span>Login/Register</span>
        </div>
        <form class="my-form" #loginForm=ngForm (ngSubmit)="submit()">
            <div>
                <mat-form-field appearance="outline" class="country">
                    <mat-label>Country</mat-label>
                    <mat-select [formControl]="countryCtrl" placeholder="country">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="countryFilterCtrl"></ngx-mat-select-search>
                          </mat-option>
                        <mat-option *ngFor="let city of filteredCountrys | async" [value]="city">
                            <div class="option">
                                <span class="svg" [innerHTML]="city.html"></span>
                                <span>{{city.dialCode}} - {{city.code}}</span>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>phone number</mat-label>
                    <input matInput [formControl]="phoneNumberCtrl" placeholder="phone number">
                </mat-form-field>
            </div>
            <button mat-raised-button type="submit" color="primary">Proceed</button>
            </form>
        </div>
</div>