<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/student" class="btn back">Back</a>
</div>

<div class="container">
    <div class="card">
        <form [formGroup]="studentDetailsForm">
            <div class="form-group row">
                <label for="id" class="col-sm-3 col-form-label">Id</label>
                <div class="col-sm-6">
                    <input type="number" formControlName="id" [(ngModel)]="studentdata.id" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="phoneNumber" class="col-sm-3 col-form-label">Phone Number</label>
                <div class="col-sm-6">
                    <input type="number" formControlName="phoneNumber" [(ngModel)]="studentdata.phoneNumber"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Name <span class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" formControlName="name" [(ngModel)]="studentdata.name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email<span class="star text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="email" formControlName="email" [(ngModel)]="studentdata.email"  class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div
                            *ngIf="f['email'].errors['pattern'] || f['email'].errors['maxlength'] || f['email'].errors['minlength']">
                            Email
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                    <button class="btn save" type="button" (click)="onSubmitUpdateStudent()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>