<div class="container">
    <h1 class="name">Add Course</h1>
    <div class="card">
        <form [formGroup]="courseDetailsForm">
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Course Name</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="name" class="form-control" required [(ngModel)]="course.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="image" class="col-sm-3 col-form-label">Course Logo </label>
                <div class="col-sm-6">
                    <input type="file" formControlName="image" class="form-control" (change)="onUploadChange($event)"
                        [(ngModel)]="course.image">
                </div>
            </div>
            <div class="form-group row">
                <label for="status" class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-6">
                    <select class="custom-select" formControlName="status" 
                        [(ngModel)]="course.status">
                        <option value="undefined" hidden disabled>Select</option>
                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-6">
                    <ckeditor [editor]="Editor" data="<p>Hello, vitg!</p>" (ready)="onReady($event)"
                        formControlName="description" [(ngModel)]="course.description"></ckeditor>
                </div>
            </div>
            <button type="submit" class="btn save" (click)="createCourse()">Save</button>
        </form>
    </div>
</div>
