<div class="container">
    <h1 class="name">Add Course</h1>
    <div class="card">
        <form [formGroup]="courseDetailsForm">
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Course Name</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="name" class="form-control" required
                        [(ngModel)]="course.name">
                </div>
            </div>
            <br>
            <!-- <div class="form-group row">
                <label for="image" class="col-sm-4 col-form-label">Image Upload</label>
                <div class="col-sm-6">
                    <input type="file" formControlName="image" class="form-control" required
                        [(ngModel)]="course.image">
                </div>
            </div>
            <br> -->

            <div class="form-group row">
                <label for="status" class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-6">
                    <select class="form-control" formControlName="status" placeholder="Active"
                        [(ngModel)]="course.status">
                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="description" class="col-sm-4 col-form-label">Description</label>
                <div class="form-group row">
                    <ckeditor [editor]="editor" [config]="config" [data]="data" formControlName="description"
                    [(ngModel)]="course.description"></ckeditor>
                </div>
            </div>
            <br>
            <button type="submit" class="btn save" (click)="createCourse()">Save</button>
        </form>
    </div>
</div>