<div class="container">
    <form action="#" [formGroup]="contactForm">
        <label for="name">NAME <em>&#x2a;</em></label>
        <input id="name" name="name" required="" type="text" formControlName="name" />
        <label for="email">EMAIL <em>&#x2a;</em></label>
        <input id="email" name="email" required="" type="email" formControlName="email" />
        <label for="phone">PHONE<em>&#x2a;</em></label>
        <input id="phoneNumber" name="phoneNumber" type="text" formControlName="phoneNumber" />
        <label for="message">YOUR MESSAGE <em>&#x2a;</em>
        </label><textarea id="message" name="message" required="" rows="4" formControlName="message"></textarea>
        <h3>
            Please provide all the information about your issue you can.
        </h3>
        <button id="customerOrder" class="verify" [disabled]="!contactForm.valid" (click)="onSubmit()">SUBMIT</button>
    </form>
</div>