@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Montserrat:wght@100;300&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 10px;

  .contact-details {
    width: 50%;
    h1 {
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.65);
    }
    .note {
      font-size: 1rem;
      margin-bottom: 35px;
      display: block;
    }
    .contct-item {
      font-weight: 600;
      padding: 8px 0;
    }
  }

  .faqs {
    width: 30%;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px;
    form {
      .contact-row {
        display: flex;
        .element {
          width: 50%;
          padding: 5px 5px;
        }
      }
      .full-element {
        width: 100%;
        padding: 5px 5px;
      }
    }
  }
}

.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

label,
input,
textarea {
  display: block;
  font-size: 10pt;
  font-weight: 700;
  line-height: 20pt;
  margin-bottom: 5px;
}


h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
  margin: 20px 0;
}

span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
}

input,
textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  outline: none;
  width: 100%;
  border-radius: 7px;
}

input:focus,
textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #1202f4;
}

::selection {
  background: #ffc7b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.verify {
  background-color: #0669ad;
  color: #fff;
  border-radius: 5px;
  border-color: #fff;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin-left: 94px;
  cursor: pointer;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  .contact-details {
    width: 90%;
    padding: 20px;
    h1 {
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.65);
    }
    .note {
      font-size: 1rem;
      margin-bottom: 35px;
      display: block;
    }
    .contct-item {
      font-weight: 600;
      padding: 8px 0;
      font-size: 14px;
    }
  }
  .faqs {
    width: 90%;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 20px;
    form {
      .contact-row {
        display: flex;
        .element {
          width: 50%;
          padding: 5px 5px;
        }
      }
      .full-element {
        width: 100%;
        padding: 5px 5px;
      }
    }
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 10px;
  
    .contact-details {
      width: 50%;
    }
  
    .faqs {
      width: 30%;

    }
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 10px;
  
    .contact-details {
      width: 50%;
    }
  
    .faqs {
      width: 30%;

    }
  }
}