::ng-deep.mat-tab-label{
    color:black
}
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
    min-width: 0px !important;
    padding: 25px !important;
    margin: 1px !important;
    background-color: #0669ad;
}
::ng-deep.mat-tab-label-active {
   color: #fff;
}
::ng-deep .mat-ink-bar {
    background-color: #0669ad !important;
}
.tab-container{
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 20px;
    color: #0669ad;
    padding-bottom: 20px;
}
.main-content{
    padding-top: 50px;
    width: 1000px;
}
.demo-content{
    display: grid;
    justify-content: center;
}

button {
    background-color: #0669ad;
    color: #fff;
    margin-top: 100px;
}
