.back{
    float: right;
    background-color: #0669ad;
    border-radius: 6px;
    padding: 5px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: white;
}
.card {
    border: 1px solid #0669ad;
    border-radius: 4px;
    margin-top: -16px;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.save {
    color: #ffff;
    margin-left: 680px;
    background-color: #0669ad;
    border-color: #fff;
    border-radius: 6px;
    padding: 5px 30px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.name{
    color: #0669ad;
}
.form-group{
    padding-bottom: 10px;
}