<div class="container">
    <h1 class="name">Add Slider</h1>
    <div class="card">
        <form [formGroup]="sliderDetailsForm">
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Slider Name</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="name" class="form-control" required
                        [(ngModel)]="slider.name">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="image" class="col-sm-3 col-form-label">Slider File</label>
                <div class="col-sm-6">
                    <input type="file" formControlName="image" class="form-control" (change)="onUploadChange($event)" 
                        [(ngModel)]="slider.image">
                        
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="status" class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-6">
                    <select class="form-control" formControlName="status" placeholder="Active"
                        [(ngModel)]="slider.status">
                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>
                </div>
            </div>
            <br>
            
            <button type="submit" class="btn save" (click)="addSlider()">Save</button>
        </form>
    </div>
</div>